In [2]:
import pandas as pd

In [9]:
data = pd.read_table('data/XYZCorp_LendingData.txt')
data.to_csv('data/XYZCorp_LendingData.csv', index = False)

C:\Users\Caio\AppData\Local\Temp\ipykernel_10544\3180723633.py:1: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_table('data/XYZCorp_LendingData.txt')

In [10]:
data = pd.read_csv('data/XYZCorp_LendingData.csv')

C:\Users\Caio\AppData\Local\Temp\ipykernel_10544\1445386200.py:1: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/XYZCorp_LendingData.csv')

In [34]:
data[data['open_acc'] == 0]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
99134,5795060,7227228,16000.0,16000.0,16000.0,60 months,18.25,408.48,D,D2,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
143002,4286741,5479072,3900.0,3900.0,3900.0,36 months,22.47,149.90,E,E5,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1
164215,3161359,3873934,3000.0,3000.0,3000.0,36 months,16.29,105.91,C,C4,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0
402173,13528035,15580330,25000.0,25000.0,25000.0,60 months,18.92,647.42,D,D4,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1
415577,12657272,14659435,9400.0,9400.0,9400.0,36 months,18.92,344.19,D,D4,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1
450811,10180046,12031573,8000.0,8000.0,8000.0,36 months,14.98,277.25,C,C3,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0

In [36]:
member_info = ['emp_title', 'emp_length', 'home_ownership', 'annual_inc',
               'verification_status', 'zip_code', 'addr_state', 'dti',
               'dti_joint', 'delinq_2yrs', 'earliest_cr_line',
               'inq_last_6mths', 'mths_since_last_delinq',
               'mths_since_last_record', 'pub_rec', 'mthssincelastmajorderog',
               'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'inq_fi', 'inq_last_12m']

account_info = ['open_acc', 'revol_bal', 'revol_util', 'total_acc']

application_info = ['desc', 'purposse', 'title', 'application_type']

loan_info = ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
             'int_rate', 'installment', 'grade', 'sub_grade', 'issue_d',
             'pymnt_plan', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
             'total_pymnt', 'total_pymnt_inv', 'totalrecprncp', 'total_rec_int',
             'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
             'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
             'last_credit_pull_d', 'policy_code', 'default_ind']

other_info = ['collections_12_mths_ex_med', 'tot_coll_amt', 'acc_now_delinq',
              'totcurbal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
              'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
              'max_bal_bc', 'all_util', 'total_rev_hi_limv', 'total_cu_tl']

In [26]:
for i in data.columns:
    print(i)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
pymnt_plan
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
default_ind

In [24]:
member_data

       addr_state  annual_inc  annual_inc_joint application_type
0              AZ     24000.0               NaN       INDIVIDUAL
1              GA     30000.0               NaN       INDIVIDUAL
2              IL     12252.0               NaN       INDIVIDUAL
3              CA     49200.0               NaN       INDIVIDUAL
4              OR     80000.0               NaN       INDIVIDUAL
...           ...         ...               ...              ...
855964         CA     31000.0               NaN       INDIVIDUAL
855965         NJ     79000.0               NaN       INDIVIDUAL
855966         TN     35000.0               NaN       INDIVIDUAL
855967         MA     64400.0               NaN       INDIVIDUAL
855968         FL    100000.0               NaN       INDIVIDUAL

[855969 rows x 4 columns]

In [12]:
data = pd.read_table('data/XYZCorp_LendingData.txt')

C:\Users\Caio\AppData\Local\Temp\ipykernel_10544\3312923805.py:1: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_table('data/XYZCorp_LendingData.txt')

In [20]:
print(data.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'default_ind'],
      dtype='object')

In [7]:
data['term'].value_counts()

 36 months    600221
 60 months    255748
Name: term, dtype: int64